/**
 *
 * @file
 * This file provides sub-theme styling for this website only.
 *
 * Settings in this file override or supplement anything provided
 * by the parent DWS theme. Changes here should probably be minimal.
 */

/**
 * Format gallery listing.
 */

#page {
  min-width: 850px;
}

#content-inner .gallery-grid h2.title {
  font-size: 1.1em;
  padding: 0;
}

.gallery-grid div.content {
  /* min-height: 200px; */
}

.gallery-grid td {
  text-align: center;
  vertical-align: top;
  width: 24.9%;
}

/**
 * Format video galleries.
 */

#block-views-video-block_1 tr {
  border-top: 1px solid #ccc;
}

#block-views-video-block_1 td  {
  float: left;
  margin: 0 0.5em 0.5em;
  padding: 0 0.5em;
  width: 45%;
}

#block-views-video-block_1 h2.title,
#block-views-video-block_1 h3.title,
#block-views-documentation-block_1 h2.title,
#block-views-archives-block_1 h2.title {
  font-size: 1.2em;
}

.video-block td {
  vertical-align: top;
}

.video-block .video-watch {
  line-height: 2.5em;
  margin: 0.5em 0 1em;
}
.video-block .video-watch a {
  background: #ddd;
  border: 1px solid #555;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  border-radius: 10px;
    -moz-box-shadow: 2px 2px 4px #555555;
    -webkit-box-shadow: 2px 2px 4px #555555;
  box-shadow: 2px 2px 4px #555555;
  color: #333;
  font-size: 1.1em;
  margin: 0 2px;
  padding: 2px 8px;
  white-space: nowrap;
}

.video-block .video-watch a:hover {
  background: #eee;
  color: #000;
  text-decoration: none;
}

/**
 * Front page sidebar.
 */

.front #sidebar-right .block-inner {
  border: none;
  padding: 0 0 10px;
}

/**
 * Promo buttons node.
 */

.node-55 p {
  background: #C9E6AC;
  border: 2px solid #693;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  box-shadow: 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
  color: #395918;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 0.8em;
  padding: 0.5em 15px;
  text-align: center;
}

.node-55 a {
  color: #395918;
}

/**
 * Brochure promo.
 */

.node-48 p {
  text-align: center;
}

/**
 * Format links at the bottom of node displays.
 */

#content-area .node .links {
  font-size: 11px;
  line-height: normal;
  text-transform: uppercase;
}

#content-area .node .links a {
  background: #ffa;
  border-radius: 3px;
    -moz-border-radius: 3px;
  color: #777;
  padding: 1px 4px;
  text-decoration: none;
}

#content-area .node .links a:hover {
  color: #555;
  text-decoration: underline;
}

#content-area .node .links div.addthis_toolbox {
  margin: 10px 0 0;
}

#content-area .node .links .addthis_toolbox a {
  background: #fff;
  border-radius: 0;
    -moz-border-radius: 0;
  padding: 0 2px;
}

/**
 * Format archive and documentation nodes.
 */

.node-type-archive .field-field-production,
.node-type-documentation .field-field-production,
.node-type-tech-schematic .field-field-production {
  font-size: 0.9em;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-author,
.node-type-documentation .field-field-author {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-citation-title,
.node-type-documentation .field-field-citation-title {
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-citation-pageref,
.node-type-documentation .field-field-citation-pageref {
  font-size: 1.1em;
  margin: 0 0 1em;
}

/**
 * Format News Nodes.
 */

#content-inner .news-item h2.title {
  font-size: 1.5em;
}

.news-item .submitted {
  color: #555;
  font-size: 0.8em;
}

/**
 * hdplayer styling.
 */

#hdplayer-content {
  background: #333;
  color: #eee;
  padding: 4em 0;
  text-align: center;
}
